body {
  background-color: dimgrey;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  margin: 2vh 10vw;
  padding: 2vw;
  border-radius: 2vh;
  border: 10px;
}
.card .text-box {
  text-align: justify;
}

.component-a {
  border-style: double;
  background-color: cadetblue;
  color: antiquewhite;
}

.component-b {
  border-style: dashed;
  background-color: darkgoldenrod;
  color: darkslateblue;
}

.component-c {
  border-style: dotted;
  background-color: lightcoral;
  color: khaki;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: slateblue;
  height: 7vh;
}
.MuiButton-outlined {
  margin: 2vw;
  height: 5vh;
}
